
.box {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    text-indent: 5px;
    margin: 2px;
    width: 97%;
    float: left;
}
.box2 {
    text-decoration: none;
    font-style: italic;
    text-align: center;
    font-size: 15px;
    text-indent: 5px;
    margin: 2px;
    margin-bottom: 18px;
    width: 97%;
    float: left;
}
.chart div{
  background-color: yellow;
  text-align: right;
  pading: 3px;
  margin: 1px;
  color: black;
  font-size: 12px;
}
#map {
  height: 300px;
  width: 100%;
 }
.btnvnosdd {

  padding: 10px;
  background-color: lightgreen;
  border: 1px solid red;
  border-radius: 5px;
  margin: 2px;
  margin-right: 15px;
}
.menuElementi {

  display: none;
  position: absolute;
  z-index: 1;
  background-color: lightgreen;
  border: 1px solid red;
}
.pokazi {
  display: block;
}
.menu {

  display: inline-block;
  position: relative;
}
#detail {
  background-color: white;
  color: black;
  border: 1px solid red;
}
.polje {
    width: 80%;
    height: 100%;
    margin: 5px;
    float: left;
}
.polje2 {
   width: 80%;
    height: 100%;
    margin: 5px;
    float: left;
}
.vrsta {
  width: 100%;
  height: 20vh;
  margin-bottom: 60px;

}

.vnos {
    width: 100%;
   border: 1px solid black;
    margin-left: 5px;
}
.txtvnos {

    float: left;
    width: 40%;
    text-decoration: none;
    text-align: right;
    text-indent: 5px;
    margin: 2px;
    margin-right: 0px;

}

.invnos {
    float: left;
    margin-right: 5px;
    width: 50%;
    margin-left: 0px;
    margin: 2px;
}

.btnvnos {
    float: middle;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    margin-right: 15px;
    margin-left: 30px;
}
.btnvnos2 {
    float: right;
    background-color: lightgreen;
    border: 1px solid red;
    border-radius: 5px;
    margin: 2px;
    margin-right: 15px;
}
.btnvnos:hover {
   border: 4px solid black;
}
.red {
    background-color: lightyellow;
}




#slika {
    height: 846;
    width: 564;
}







.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}